@model Pairme.Models.RegisterViewModelStep1
@using Microsoft.Web.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-horizontal ds-initForm", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-group">
            @Html.LabelFor(model => model.GenderID, "I am a")
            @Html.DropDownListFor(model => model.GenderID, new SelectList(
                      new List<Object>{
                           new { value = 0 , text = "Man" },
                           new { value = 1 , text = "Woman"  },
                           new { value = 2 , text = "Other" }
                        },
                      "value",
                      "text",
                       1))
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MatchGenderID, "Looking for a")
            @Html.DropDownListFor(model => model.MatchGenderID, new SelectList(
                      new List<Object>{
                           new { value = 0 , text = "Man"  },
                           new { value = 1 , text = "Woman" },
                           new { value = 2 , text = "Other" }
                        },
                      "value",
                      "text",
                       0))
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryID, "Country")
            @Html.DropDownListFor(model => model.CountryID, new SelectList(
                      new List<Object>{
                           new { value = 0 , text = "United States"  },
                           new { value = 1 , text = "Canada" }
                        },
                      "value",
                      "text",
                       0))
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip Code" })
            @Html.ValidationMessageFor(model => model.ZipCode)
        </div>
         <div class="form-group">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", placeholder = "Age" })
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        
        <button type="submit" name="Command" value="Browse" class="btn btn-primary">Browse</button>
        <button type="submit" name="Command" value="Register" class="btn btn-primary">Register</button>
    }
</div>